<div class="center-left">
  <h2 class="register">Edit your Profile</h2>
  <div class="edit-wrap">
    <form>
      <div class="label-wrap">
        <label>Name</label>
        <input type="text">
      </div>
      <div class="label-wrap">
        <label>Name</label>
        <input type="text">
      </div>
      <div class="label-wrap">
        <label>Name</label>
        <input type="text">
      </div>
      <div class="label-wrap">
        <label>Name</label>
        <input type="text">
      </div>
      <div class="label-wrap">
        <label>Name</label>
        <input type="text">
      </div>
      <div class="label-wrap">
        <label>Name</label>
        <input type="text">
      </div>
      <div class="label-wrap">
        <label>Name</label>
        <input type="text">
      </div>
      <div class="label-wrap">
        <label>Name</label>
        <input type="text">
      </div>
      <div class="label-wrap">
        <label>Name</label>
        <input type="text">
      </div>
      <div class="label-wrap">
        <button class="btn">Save</button>
        <button class="btn">Cancel</button>
      </div>
      <div class="clear"></div>
    </form>
  </div>
</div>
<%= render "layouts/right_add_column"%>