<div class="center-left">
  <h2 class="register">User Login</h2>
  <div class="login-wrap">
    <div class="login-subwrap">
      <form>
        <div class="label-wrap">
          <label>User Name</label>
          <input type="text">
        </div>
        <div class="label-wrap">
          <label>Password</label>
          <input type="password">
        </div>

        <div class="label-wrap">
          <button class="btn">Sign in</button>
          <button class="btn">Create New Account</button>
        </div>
        <div class="clear"></div>
      </form>
    </div>
  </div>
</div>
<%= render "layouts/right_add_column"%>