<!DOCTYPE html>
<html lang="en">
<head>
<title>Today's Campus - Webinars</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/assets/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/style.css" type="text/css" media="all">
<!-- slider content start -->
<link rel="stylesheet" href="/assets/pagination.css" type="text/css" media="screen" />
<!-- datepicker scripts-->   
        <link rel="stylesheet" href="/assets/zebra_datepicker.css" type="text/css">
        <script type="text/javascript" src="/assets/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="/assets/zebra_datepicker.js"></script>
        <script type="text/javascript" src="/assets/functions.js"></script>

	<!-- datepicker scripts -->
		<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="css/style_ie.css" />
		<![endif]-->
		<!-- jQuery -->

<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.box1 figure {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->

<!-- Contact Form CSS files -->

<!-- IE6 "fix" for the close png image -->
<!--[if lt IE 7]>
<link type='text/css' href='css/basic_ie.css' rel='stylesheet' media='screen' />
<![endif]-->
</head>
<body>

<!-- top -->
	<div class="top-sub-wrap">
    	<div class="top-main">Covering the people, Campuses & Companies making Business news in Higher Education</div>
    </div>
<!-- top end-->
<div class="clear"></div>
<div class="main-wrap">
	<div class="main">
<!-- header -->
		<%= render "layouts/header"%>
<!-- / header -->
<!-- content -->
		<article id="content">
        <div class="ad-wrap">
        	<img src="/assets/top_banner.jpg" alt="banner">
        </div>
             
             <div class="content-wrapper">
            	<div class="center-left">
                <h2 class="register-emp-cart">Events</h2>
				<div class="date-wrap">
                 <form class="date-left" action="javascript:void(0)" method="post">
            <div>
            <label>From Date</label>
            <input id="datepicker-example13" type="text">
            <div id="container" style="margin: 10px 0 0 0"></div>
            </div>
            </form>
            <form class="date-right" action="javascript:void(0)" method="post">
            <div>
            <label>To Date</label>
            <input id="datepicker-example14" type="text">
            <div id="container1" style="margin: 10px 0 0 0"></div>
            </div>
            </form>
            </div>
            <div class="clear"></div>
                <div class="pagination">
                	<div id="demo1"></div>                  
             </div>
         		<div id="wrapper">
		
		<table width="650" border="0" class="rss-table webinarstable" cellspacing="0" cellpadding="0">
  <tr class="border-tab">
    <td width="250">Title</td>
    <td width="50">Posted on</td>
    <td width="350">Description</td>
  </tr>
  <tr class="add">
    <td><a href="#"> Mobile Apps: Strengthening Alumni Engagement Strategy</a></td>
    <td>Friday 3/29/2013</td>
    <td><p>Smartphones. Tablets. Just when you thought you had your hands wrapped around managing an online community, online interaction went to the small screen. <a class="btn2" href="#">View More</a></p></td>
  </tr>
  <tr class="add">
    <td><a href="#"> Mobile Apps: Strengthening Alumni Engagement Strategy</a></td>
    <td>Friday 3/29/2013</td>
    <td><p>Smartphones. Tablets. Just when you thought you had your hands wrapped around managing an online community, online interaction went to the small screen. <a class="btn2" href="#">View More</a></p></td>
  </tr>
  <tr class="add">
    <td><a href="#"> Mobile Apps: Strengthening Alumni Engagement Strategy</a></td>
    <td>Friday 3/29/2013</td>
    <td><p>Smartphones. Tablets. Just when you thought you had your hands wrapped around managing an online community, online interaction went to the small screen. <a class="btn2" href="#">View More</a></p></td>
  </tr>
  <tr class="add">
    <td><a href="#"> Mobile Apps: Strengthening Alumni Engagement Strategy</a></td>
    <td>Friday 3/29/2013</td>
    <td><p>Smartphones. Tablets. Just when you thought you had your hands wrapped around managing an online community, online interaction went to the small screen. <a class="btn2" href="#">View More</a></p></td>
  </tr>
  <tr class="add">
    <td><a href="#"> Mobile Apps: Strengthening Alumni Engagement Strategy</a></td>
    <td>Friday 3/29/2013</td>
    <td><p>Smartphones. Tablets. Just when you thought you had your hands wrapped around managing an online community, online interaction went to the small screen. <a class="btn2" href="#">View More</a></p></td>
  </tr>
  <tr class="add">
    <td><a href="#"> Mobile Apps: Strengthening Alumni Engagement Strategy</a></td>
    <td>Friday 3/29/2013</td>
    <td><p>Smartphones. Tablets. Just when you thought you had your hands wrapped around managing an online community, online interaction went to the small screen. <a class="btn2" href="#">View More</a></p></td>
  </tr>
  
  
 </table>
	</div>	
    <!--<div id="demo2"></div> -->
               </div>
               <div class="center-right">
                    <div class="search-box">
                        <span><a href="register-employer.html" class="btn-reg">Login</a></span><span style="color:#fff;">or</span>
                        <span><a href="register-employer.html" class="btn-reg">Register</a></span>
                    </div>
                    <div class="clear height10"></div>
                    <div class="search-box">
                        <span class="hiring">Hiring?</span><a href="register-employer.html"><img src="/assets/post_job_btn.png"></a>
                        <div class="learn-wrap">
                        <a href="learn-more.html" class="learn">Learn More</a>
                        <a href="rates.html" class="learn">Our Rates</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    
                    <div class="ad">
                    	<img src="/assets/ad_right.jpg">
                    </div>
                    <div class="box-content1">
                        	<h2>Financial Aid & Bursar</h2>
                            <ul>
                            <li>
                            <h6>Awards Recognize Student Loan Default | Prevention And Financial Literacy Programs</h6>
                            <p>INDIANAPOLIS - USA Funds® has announced the recipients of its 2012 Excellence in Debt Management Awards. <a href="#"> More</a></p>
                           </li>
                            <li>
                            <h6>Tuition paid in ones</h6>
                            <p>In a YouTube video Nicolaus Ramos, a U of Colorado student from Sacramento, explains why he paid his $14,309 tuition bill with 30 pounds of one-dollar bills. <a href="#"> More</a></p>
                            </li>
                            <li class="last">
                            <h6>Heading off the college tab</h6>
                            <p>Ken Clark, author of “The Complete Idiot’s Guide to Paying for College”, reduces how to pay for college to one simple rule: “Plan on putting away $75 per kid per month from the day they’re born, and that will get you four years at a state school.”<a href="#"> More</a></p>
                           </li>
                            </ul>
                            </div>
                            
                            <div class="ad">
                                <img src="/assets/ad_right1.jpg">
                            </div>
                            <div class="box-content1">
                        	<h2>Student Loan Intelligence</h2>
                          <ul>
                            <li class="last">
                            <h6>One common peculiarity among U.S. student loans</h6>
                            <p>For all U.S. student loans - government and private - a borrower has no bankruptcy protection.<a href="#"> More</a></p>
                            </li>
                           </ul> 
                        </div>
               </div>
               
             </div>
		</article>
<!-- / content -->
<div class="clear"></div>
	</div>
</div>
    <!-- footer -->
		<%= render "layouts/footer"%>
<!-- / footer -->
<script src="/assets/jquery.paginate.js" type="text/javascript"></script>
<script type="text/javascript">
		$(function() {
			$("#demo1").paginate({
				count 		: 100,
				start 		: 1,
				display     : 8,
				border					: true,
				border_color			: '#fff',
				text_color  			: '#fff',
				background_color    	: 'black',	
				border_hover_color		: '#ccc',
				text_hover_color  		: '#000',
				background_hover_color	: '#fff', 
				images					: false,
				mouse					: 'press'
			});
		});
		</script>
</body>
</html>