<!DOCTYPE html>
<html lang="en">
<head>
<title>Today's Campus - Featured Details</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/assets/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/style.css" type="text/css" media="all">
<!-- slider content start -->
<link rel="stylesheet" href="/assets/flexslider.css" type="text/css" media="screen" />
<script src="/assets/jquery.min.js"></script>
<script src="/assets/jquery.flexslider-min.js"></script>
<script type="text/javascript">
		$(window).load(function() {
			$('.flexslider').flexslider();
		});
</script>
<!-- slider content end -->
		<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="/assets/style_ie.css" />
		<![endif]-->
		<!-- jQuery -->

<!--[if lt IE 9]>
	<script type="text/javascript" src="/assets/html5.js"></script>
	<style type="text/css">
		.box1 figure {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->
</head>
<body>
<!-- top -->
	<div class="top-sub-wrap">
    	<div class="top-main">Covering the people, Campuses & Companies making Business news in Higher Education</div>
    </div>
<!-- top end-->
<div class="clear"></div>
<div class="main-wrap">
	<div class="main">
<!-- header -->
		<header>
			<div class="wrapper">
				<div class="logo"><h1><a href="index.html" id="logo" title="Today's Campus">Today's Campus</a></h1></div>
                <div class="social">
                <div class="subscribe-top">
                <a href="#" title="Subscribe Today">Subscribe Today</a>
                <a href="#" title="Advertise">Advertise</a>
                <a href="#" title="Contact TC">Contact TC</a>
                </div>
                     <div class="clear"></div>
                    <div class="right-top">
                    <div class="right-top-sub">
                        <img src="/assets/top-right-img.jpg" alt="right-top-image">
                        <span class="large-font">Digital <br> Magazine</span>
                        <span class="small-font">Get Yours Today</span>
                    </div>
                    <div class="social-wrap">
                        <ul id="icons">
                        <li><a href="#" title="Facebook"><img src="/assets/facebook.png" alt="facebook"></a></li>
                        <li><a href="#" title="Twitter"><img src="/assets/twitter.png" alt="twitter"></a></li>
                        <li><a href="#" title="Linkedin"><img src="/assets/linkedin.png" alt="linkedin"></a></li>
                        <li><a href="#" title="V icon"><img src="/assets/v-icon.png" alt="v-icon"></a></li>
                        <li><a href="#" title="RSS"><img src="/assets/rss.png" alt="rss"></a></li>
                    </ul>
                    </div>
                    </div>
                </div>
             <div class="clear"></div>
				<!-- Navigation -->
                <nav>
					<ul id="nav" class="drop">
						<li><a href="#" class="active" title="Departments">Departments</a>
                          <ul class="drop-down">
                              <li><a href="#" title="Sub Navigation">Sub Navigation 1</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 2</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 3</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 4</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 5</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 6</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 7</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 8</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 9</a></li>
                          </ul>
                       </li>
     					<li><a href="#" title="Videos">Videos</a></li>
						<li><a href="#" title="Webinars">Webinars</a></li>
                        <li><a href="#" title="Events">Events</a></li>
                        <li class="search"><input type="text"><a href="#"></a></li>
					</ul>
				</nav>
                <!-- Navigation -->
			</div>
		</header>
<!-- / header -->
<!-- content -->
		<article id="content">
        <div class="ad-wrap">
        	<img src="/assets/top_banner.jpg" alt="banner">
        </div>
             
             <div class="content-wrapper">
            	<div class="center-left">
                <h2 class="register-emp" style="margin:0">Featured Employer</h2>
         			<div class="registration-wrap-emp">
                    	<h3 class="font25">Lone Star College</h3>
                        <div class="featured-main">
                        	<div class="featured-left">
                            	<img src="/assets/abraham.png">
                            </div>
                            <div class="featured-right">
                            	<div><a href="#">http://www.lonestar.edu</a></div>
                                <div> 5000 Research Forest Drive </div>
                                <div>The Woodlands, TX 77381</div>
                            </div>
                            <div class="clear"></div>
                            <p>Lone Star College System, the largest institution of higher education in the Houston area, is nationally recognized, globally connected and locally focused.  Known for its innovative and visionary thinking, Lone Star College System is the fastest-growing community college in the nation and a major contributor to the local and regional economy.</p>
                            <p>LSCS offers associate degrees and certification in many areas of study at a fraction of the cost of a four-year university like UT. Through its progressive partnerships with many four-year universities, LSCS also offers seamless opportunities to obtain bachelor's and master's degrees at one of its two University Centers. </p>
                            <p>Throughout its 40 year history, Lone Star College has been steadfast in its commitment to student success and credential completion. Currently leading the charge to improve completion rates, LSCS is one of the only colleges in the nation to establish a formal Office of Completion and is the managing partner of Texas Completes, the statewide initiative that brings together five Texas college systems to advance deep student success reform.</p>
                            
                            
                        </div>
                    </div>
               </div>
               <div class="center-right">
                    <div class="search-box">
                    	<img class="find" src="/assets/find_job.png">
                        <a href="#"><img src="/assets/post_job_btn.png"></a>
                        <p>Browse 345 Jobs</p>
                        <div class="search"><input type="text"> <input class="search-icon" type="button"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="ad">
                    	<img src="/assets/ad_right.jpg">
                    </div>
                    <div class="box-content1">
                        	<h2>Financial Aid & Bursar</h2>
                            <ul>
                            <li>
                            <h6>Awards Recognize Student Loan Default | Prevention And Financial Literacy Programs</h6>
                            <p>INDIANAPOLIS - USA Funds® has announced the recipients of its 2012 Excellence in Debt Management Awards. <a href="#"> More</a></p>
                           </li>
                            <li>
                            <h6>Tuition paid in ones</h6>
                            <p>In a YouTube video Nicolaus Ramos, a U of Colorado student from Sacramento, explains why he paid his $14,309 tuition bill with 30 pounds of one-dollar bills. <a href="#"> More</a></p>
                            </li>
                            <li class="last">
                            <h6>Heading off the college tab</h6>
                            <p>Ken Clark, author of “The Complete Idiot’s Guide to Paying for College”, reduces how to pay for college to one simple rule: “Plan on putting away $75 per kid per month from the day they’re born, and that will get you four years at a state school.”<a href="#"> More</a></p>
                           </li>
                            </ul>
                            </div>
                            
                            <div class="ad">
                                <img src="/assets/ad_right1.jpg">
                            </div>
                            <div class="box-content1">
                        	<h2>Student Loan Intelligence</h2>
                          <ul>
                            <li class="last">
                            <h6>One common peculiarity among U.S. student loans</h6>
                            <p>For all U.S. student loans - government and private - a borrower has no bankruptcy protection.<a href="#"> More</a></p>
                            </li>
                           </ul> 
                        </div>
               </div>
               
             </div>
		</article>
<!-- / content -->
<div class="clear"></div>
	</div>
</div>
    <!-- footer -->
		<%= render "layouts/footer"%>
<!-- / footer -->

</body>
</html>