<!DOCTYPE html>
<html lang="en">
<head>
<title>Today's Campus - Job detail</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/assets/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/style.css" type="text/css" media="all">
<!-- slider content start -->
<link rel="stylesheet" href="/assets/flexslider.css" type="text/css" media="screen" />
<script src="/assets/jquery.min.js"></script>
<script src="/assets/jquery.flexslider-min.js"></script>
<script type="text/javascript">
		$(window).load(function() {
			$('.flexslider').flexslider();
		});
</script>
<!-- slider content end -->
		<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="/assets/style_ie.css" />
		<![endif]-->
		<!-- jQuery -->

<!--[if lt IE 9]>
	<script type="text/javascript" src="/assets/html5.js"></script>
	<style type="text/css">
		.box1 figure {behavior:url(/assets/PIE.htc)}
	</style>
<![endif]-->
</head>
<body>
<!-- top -->
	<div class="top-sub-wrap">
    	<div class="top-main">Covering the people, Campuses & Companies making Business news in Higher Education</div>
    </div>
<!-- top end-->
<div class="clear"></div>
<div class="main-wrap">
	<div class="main">
<!-- header -->
<%= render "layouts/header"%>
<!-- / header -->
<!-- content -->
		<article id="content">
        <div class="ad-wrap">
        	<img src="/assets/top_banner.jpg" alt="banner">
        </div>
             
             <div class="content-wrapper">
            	<div class="center-left">
                <div class="detail-view">
                <h2>View Jobs</h2>
                <a href="candidate.html" class="btn2">Apply For Job</a>
                <a href="#" class="btn2">Print Job</a>
                <a href="#" class="btn2">Save This Job</a>
                <a href="jobs.html" class="btn2">Return to Job Search</a>
                <span style="float:right; margin-top:5px;">
                <a href="#" title="Facebook"><img src="/assets/facebook.png"></a>
                <a href="#" title="Twitter"><img src="/assets/twitter.png"></a>
                <a href="#" title="Linkedin"><img src="/assets/linkedin.png"></a>
                <a href="#"><img src="/assets/google-icon.png"></a>
                <a href="#" title="Email"><img src="/assets/email.png"></a>
                </span>
                </div>
                <div class="accordionContent" style="margin:0px 0 0 0;">
                <h2>Disability ADA Consultant</h2>
                <h4>The Office of Human Resources - Office of Equity and Inclusion,Tempe campus</h4>
         <div><b>Job Location:</b><span>Tempe campus</div>
        <div><b>Job Category:</b><span>The Office of Human Resources - Office of Equity and Inclusion</div>
        <div><b>Posted:</b><span>03/25/2013</span></div>
        <p>Provides consultative services to departments, faculty, staff and University programs to ensure compliance with government regulations, such as ADA, Sections 503 and 504 of the Rehabilitation Act and ASU policies.  Facilitates the interactive process between department and employee to determine if a reasonable accommodation of the employee's disability can be made.  Educates departments on the ADA and minimizes their financial costs by facilitating return to work and appropriate accommodations.  Reports to Office of Equity and Inclusion.</p>
        
        </div>
        
            <div class="detail-view">
                <a href="signin.html" class="btn2">Apply For Job</a>
                <a href="#" class="btn2">Print Job</a>
                <a href="#" class="btn2">Save This Job</a>
                <a href="jobs.html" class="btn2">Return to Job Search</a>
                <span style="float:right; margin-top:5px;">
                <a href="#" title="Facebook"><img src="/assets/facebook.png"></a>
                <a href="#" title="Twitter"><img src="/assets/twitter.png"></a>
                <a href="#" title="Linkedin"><img src="/assets/linkedin.png"></a>
                <a href="#"><img src="/assets/google-icon.png"></a>
                <a href="#" title="Email"><img src="/assets/email.png"></a>
                </span>
             </div>	
               </div>
               <div class="center-right">
                    <div class="search-box">
                    	<img class="find" src="/assets/find_job.png">
                        <a href="#"><img src="/assets/post_job_btn.png"></a>
                        <p>Browse 345 Jobs</p>
                        <div class="search"><input type="text"> <input class="search-icon" type="button"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="ad">
                    	<img src="/assets/ad_right.jpg">
                    </div>
                    <div class="box-content1">
                        	<h2>Financial Aid & Bursar</h2>
                            <ul>
                            <li>
                            <h6>Awards Recognize Student Loan Default | Prevention And Financial Literacy Programs</h6>
                            <p>INDIANAPOLIS - USA Funds® has announced the recipients of its 2012 Excellence in Debt Management Awards. <a href="#"> More</a></p>
                           </li>
                            <li>
                            <h6>Tuition paid in ones</h6>
                            <p>In a YouTube video Nicolaus Ramos, a U of Colorado student from Sacramento, explains why he paid his $14,309 tuition bill with 30 pounds of one-dollar bills. <a href="#"> More</a></p>
                            </li>
                            <li class="last">
                            <h6>Heading off the college tab</h6>
                            <p>Ken Clark, author of “The Complete Idiot’s Guide to Paying for College”, reduces how to pay for college to one simple rule: “Plan on putting away $75 per kid per month from the day they’re born, and that will get you four years at a state school.”<a href="#"> More</a></p>
                           </li>
                            </ul>
                            </div>
                            
                            <div class="ad">
                                <img src="/assets/ad_right1.jpg">
                            </div>
                            <div class="box-content1">
                        	<h2>Student Loan Intelligence</h2>
                          <ul>
                            <li class="last">
                            <h6>One common peculiarity among U.S. student loans</h6>
                            <p>For all U.S. student loans - government and private - a borrower has no bankruptcy protection.<a href="#"> More</a></p>
                            </li>
                           </ul> 
                        </div>
               </div>
               
             </div>
		</article>
<!-- / content -->
<div class="clear"></div>
	</div>
</div>
    <!-- footer -->
		<%= render "layouts/footer"%>
<!-- / footer -->

</body>
</html>