<!DOCTYPE html>
<html lang="en">
<head>
<title>Today's Campus - Resume Search</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/assets/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/style.css" type="text/css" media="all">
<!-- slider content start -->
<link rel="stylesheet" href="/assets/flexslider.css" type="text/css" media="screen" />
<script src="/assets/jquery.min.js"></script>
<script src="/assets/jquery.flexslider-min.js"></script>
<script type="text/javascript">
		$(window).load(function() {
			$('.flexslider').flexslider();
		});
</script>
<link rel="stylesheet" href="/assets/pagination.css" type="text/css" media="screen" />

<!-- slider content end -->
		<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="/assets/style_ie.css" />
		<![endif]-->
		<!-- jQuery -->

<!--[if lt IE 9]>
	<script type="text/javascript" src="/assets/html5.js"></script>
	<style type="text/css">
		.box1 figure {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->

<!-- Contact Form CSS files -->
<link type='text/css' href='/assets/basic.css' rel='stylesheet' media='screen' />

<!-- IE6 "fix" for the close png image -->
<!--[if lt IE 7]>
<link type='text/css' href='/assets/basic_ie.css' rel='stylesheet' media='screen' />
<![endif]-->
</head>
<body>
<!-- top -->
	<div class="top-sub-wrap">
    	<div class="top-main">Covering the people, Campuses & Companies making Business news in Higher Education</div>
    </div>
<!-- top end-->
<div class="clear"></div>
<div class="main-wrap">
	<div class="main">
<!-- header -->
		<header>
			<div class="wrapper">
				<div class="logo"><h1><a href="index.html" id="logo" title="Today's Campus">Today's Campus</a></h1></div>
                <div class="social">
                <div class="subscribe-top">
                <a href="#" title="Subscribe Today">Subscribe Today</a>
                <a href="#" title="Advertise">Advertise</a>
                <a href="#" title="Contact TC">Contact TC</a>
                </div>
                     <div class="clear"></div>
                    <div class="right-top">
                    <div class="right-top-sub">
                        <img src="/assets/top-right-img.jpg" alt="right-top-image">
                        <span class="large-font">Digital <br> Magazine</span>
                        <span class="small-font">Get Yours Today</span>
                    </div>
                    <div class="social-wrap">
                        <ul id="icons">
                        <li><a href="#" title="Facebook"><img src="/assets/facebook.png" alt="facebook"></a></li>
                        <li><a href="#" title="Twitter"><img src="/assets/twitter.png" alt="twitter"></a></li>
                        <li><a href="#" title="Linkedin"><img src="/assets/linkedin.png" alt="linkedin"></a></li>
                        <li><a href="#" title="V icon"><img src="/assets/v-icon.png" alt="v-icon"></a></li>
                        <li><a href="#" title="RSS"><img src="/assets/rss.png" alt="rss"></a></li>
                    </ul>
                    </div>
                    </div>
                </div>
             <div class="clear"></div>
				<!-- Navigation -->
                <nav>
					<ul id="nav" class="drop">
						<li><a href="#" class="active" title="Departments">Departments</a>
                          <ul class="drop-down">
                              <li><a href="#" title="Sub Navigation">Sub Navigation 1</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 2</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 3</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 4</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 5</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 6</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 7</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 8</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 9</a></li>
                          </ul>
                       </li>
     					<li><a href="#" title="Videos">Videos</a></li>
						<li><a href="#" title="Webinars">Webinars</a></li>
                        <li><a href="#" title="Events">Events</a></li>
                        <li class="search"><input type="text"><a href="#"></a></li>
					</ul>
				</nav>
                <!-- Navigation -->
			</div>
		</header>
<!-- / header -->
<!-- content -->
		<article id="content">
        <div class="ad-wrap">
        	<img src="/assets/top_banner.jpg" alt="banner">
        </div>
             
             <div class="content-wrapper">
            	<div class="center-left">
                <h2 class="register-emp-cart">Resume Search</h2>
                <div class="search-box1 backgroundred">
                	<div class="resume-left">
                    	<label><b>Highest Education</b></label><br>
                        <select class="form-select-resume" name="education" id="edit-education"><option selected="selected" value="All">- Any -</option><option value="AA">AA</option><option value="AN">AN</option><option value="BA">BA</option><option value="BFA">BFA</option><option value="BS">BS</option><option value="DDS">DDS</option><option value="DVM">DVM</option><option value="EdD">EdD</option><option value="JD">JD</option><option value="LLB">LLB</option><option value="LLM">LLM</option><option value="MA">MA</option><option value="MBA">MBA</option><option value="MD">MD</option><option value="MFA">MFA</option><option value="MPhil">MPhil</option><option value="MS">MS</option><option value="MSW">MSW</option><option value="ZZ">Other</option><option value="PhD">PhD</option><option value="RN">RN</option></select>
                    </div>
                    
                    <div class="resume-left">
                    	<label><b>Teaching Experience</b></label><br>
                        <select class="form-select-resume" name="teaching_experience" id="edit-teaching-experience"><option selected="selected" value="All">- Any -</option><option value="0">None</option><option value="1">1-3 years</option><option value="2">4-6 years</option><option value="3">7-10 years</option><option value="4">10+ years</option></select>
                    </div>
                    
                    <div class="resume-left">
                    	<label><b>Location Preference </b></label><br>
                        <input type="text" style="width:290px;" class="search-txt-box2">
                    </div>
                    <div class="resume-left width400">
                    	<label><b>Work Experience</b></label><br>
                        <input type="text" style="width:290px;" class="search-txt-box2">
                    </div>
                    
                    <div class="resume-left width155">
                    	<label><b>Sort by </b></label><br>
                        <select class="form-select-resume" name="sort_by" id="edit-sort-by"><option selected="selected" value="changed">Last Updated</option></select>
                    </div>
                    
                    <div class="resume-left width155">
                    	<label><b>Order</b></label><br>
                        <select class="form-select-resume" name="sort_order" id="edit-sort-order"><option value="ASC">Asc</option><option selected="selected" value="DESC">Desc</option></select>
                    </div>
                    <input type="submit" value="Clear" style=" border:0; float:left; margin:15px 0px 0 0;padding:4px 8px;" class="btn2 right">
                    <input type="submit" value="Find" style=" border:0; float:left; clear:left; margin:15px 10px 0 0; padding:4px 8px;" class="btn2 right">
                    <div class="clear"></div>
                </div>
                
         		<div id="wrapper">
					<div id="demo1"></div> 
                    
                    <table width="655" border="0" class="shopping-cart-table lineheight" cellspacing="0" cellpadding="0">
  <tr class="border-tab">
    <td width="50">Updated</td>
    <td width="50">Name</td>
    <td width="200">Work Experience</td>
    <td width="200">Short Bio</td>
    <td width="50">Exp.</td>
    <td width="35">Ed.</td>
    <td width="50" class="last-td">File</td>
  </tr>
  <tr class="add">
     <td>March 8, 2013 1 week 6 days ago </td>
    <td><a href="resume-detail.html">Andrew Grayson</a></td>
    <td>I have worked for the past year in fundraising and development, raising over $550,000 as the prospect research manager and finance associate on two... </td>
    <td>Hard working and adaptable professional who thrives in the higher education environment, seeking an opportunity to join an organization in a position... </td>
    <td>1-3 years</td>
    <td>PhD</td>
    <td><a href="#">View</a></td>
  </tr>
  <tr class="even">
    <td>March 8, 2013 1 week 6 days ago </td>
    <td><a href="resume-detail.html">Andrew Grayson</a></td>
    <td>I have worked for the past year in fundraising and development, raising over $550,000 as the prospect research manager and finance associate on two... </td>
    <td>Hard working and adaptable professional who thrives in the higher education environment, seeking an opportunity to join an organization in a position... </td>
    <td>1-3 years</td>
    <td>PhD</td>
    <td><a href="">View</a></td>
  </tr>
<tr class="add">
     <td>March 8, 2013 1 week 6 days ago </td>
    <td><a href="resume-detail.html">Andrew Grayson</a></td>
    <td>I have worked for the past year in fundraising and development, raising over $550,000 as the prospect research manager and finance associate on two... </td>
    <td>Hard working and adaptable professional who thrives in the higher education environment, seeking an opportunity to join an organization in a position... </td>
    <td>1-3 years</td>
    <td>PhD</td>
    <td><a href="#">View</a></td>
  </tr>
  <tr class="even">
    <td>March 8, 2013 1 week 6 days ago </td>
    <td><a href="resume-detail.html">Andrew Grayson</a></td>
    <td>I have worked for the past year in fundraising and development, raising over $550,000 as the prospect research manager and finance associate on two... </td>
    <td>Hard working and adaptable professional who thrives in the higher education environment, seeking an opportunity to join an organization in a position... </td>
    <td>1-3 years</td>
    <td>PhD</td>
    <td><a href="#">View</a></td>
  </tr>
  <tr class="add">
     <td>March 8, 2013 1 week 6 days ago </td>
    <td><a href="resume-detail.html">Andrew Grayson</a></td>
    <td>I have worked for the past year in fundraising and development, raising over $550,000 as the prospect research manager and finance associate on two... </td>
    <td>Hard working and adaptable professional who thrives in the higher education environment, seeking an opportunity to join an organization in a position... </td>
    <td>1-3 years</td>
    <td>PhD</td>
    <td><a href="#">View</a></td>
  </tr>
  <tr class="even">
    <td>March 8, 2013 1 week 6 days ago </td>
    <td><a href="resume-detail.html">Andrew Grayson</a></td>
    <td>I have worked for the past year in fundraising and development, raising over $550,000 as the prospect research manager and finance associate on two... </td>
    <td>Hard working and adaptable professional who thrives in the higher education environment, seeking an opportunity to join an organization in a position... </td>
    <td>1-3 years</td>
    <td>PhD</td>
    <td><a href="#">View</a></td>
  </tr>
</table>

				</div>	
    <!--<div id="demo2"></div> -->
               </div>
               <div class="center-right">
                    <div class="search-txt">Your Cart</div>
                    <div class="box-info">
                     <table width="275" border="1" class="cart-table">
  <tr class="add">
    <td>developer(American Anthropological Association (AAA))</td>
    <td align="right">$250.00</td>
  </tr>
  <tr class="even">
    <td>developer(American Anthropological Association (AAA))</td>
    <td align="right">$250.00</td>
  </tr>
  <tr class="add">
    <td>developer(American Anthropological Association (AAA))</td>
    <td align="right">$250.00</td>
  </tr>
  <tr class="even">
    <td>developer(American Anthropological Association (AAA))</td>
    <td align="right">$250.00</td>
  </tr>
</table>
<div class="cart-total">Total $1000.00</div>
<div class="cart-wrap-bottom">
<a href="after-login-shopping-cart.html" class="btn2" title="View Cart">View Cart</a>
<a href="checkout.html" class="btn2" title="Checkout">Checkout</a>
</div>
                    </div>
<div class="clear"></div>
     <div class="search-txt1">Employer Tools</div>
                    <div class="box-info">
                    	<ul class="emp-tools">
                        <li><a href="post-job.html">Post a new job</a></li>
                        <li><a href="my-account.html">Manage your job posts</a></li>
                        <li><a href="resume-search.html">Search résumés</a></li>
                        </ul>
                    </div>
                    
                    <div class="ad">
                    	<img src="/assets/ad_right.jpg">
                    </div>
                    <div class="box-content1">
                        	<h2>Financial Aid & Bursar</h2>
                            <ul>
                            <li>
                            <h6>Awards Recognize Student Loan Default | Prevention And Financial Literacy Programs</h6>
                            <p>INDIANAPOLIS - USA Funds® has announced the recipients of its 2012 Excellence in Debt Management Awards. <a href="#"> More</a></p>
                           </li>
                            <li>
                            <h6>Tuition paid in ones</h6>
                            <p>In a YouTube video Nicolaus Ramos, a U of Colorado student from Sacramento, explains why he paid his $14,309 tuition bill with 30 pounds of one-dollar bills. <a href="#"> More</a></p>
                            </li>
                            <li class="last">
                            <h6>Heading off the college tab</h6>
                            <p>Ken Clark, author of “The Complete Idiot’s Guide to Paying for College”, reduces how to pay for college to one simple rule: “Plan on putting away $75 per kid per month from the day they’re born, and that will get you four years at a state school.”<a href="#"> More</a></p>
                           </li>
                            </ul>
                            </div>
                            
                            <div class="ad">
                                <img src="/assets/ad_right1.jpg">
                            </div>
                            <div class="box-content1">
                        	<h2>Student Loan Intelligence</h2>
                          <ul>
                            <li class="last">
                            <h6>One common peculiarity among U.S. student loans</h6>
                            <p>For all U.S. student loans - government and private - a borrower has no bankruptcy protection.<a href="#"> More</a></p>
                            </li>
                           </ul> 
                        </div>
               </div>
               
             </div>
		</article>
<!-- / content -->
<div class="clear"></div>
	</div>
</div>
    <!-- footer -->
		<%= render "layouts/footer"%>
<!-- / footer -->
<script type='text/javascript' src='/assets/jquery.js'></script>
<script type='text/javascript' src='/assets/jquery.simplemodal.js'></script>
<script type='text/javascript' src='/assets/basic.js'></script>

<script src="/assets/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/assets/jquery.paginate.js" type="text/javascript"></script>
<script type="text/javascript">
		$(function() {
			$("#demo1").paginate({
				count 		: 100,
				start 		: 1,
				display     : 8,
				border					: true,
				border_color			: '#fff',
				text_color  			: '#fff',
				background_color    	: 'black',	
				border_hover_color		: '#ccc',
				text_hover_color  		: '#000',
				background_hover_color	: '#fff', 
				images					: false,
				mouse					: 'press'
			});
			
			$("#demo2").paginate({
				count 		: 100,
				start 		: 1,
				display     : 8,
				border					: true,
				border_color			: '#fff',
				text_color  			: '#fff',
				background_color    	: 'black',	
				border_hover_color		: '#ccc',
				text_hover_color  		: '#000',
				background_hover_color	: '#fff', 
				images					: false,
				mouse					: 'press'
			});
		});
		</script>
</body>
</html>