<!DOCTYPE html>
<html lang="en">
<head>
<title>Today's Campus - Resume Search</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/assets/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/style.css" type="text/css" media="all">
<!-- slider content start -->
<link rel="stylesheet" href="/assets/flexslider.css" type="text/css" media="screen" />
<script src="/assets/jquery.min.js"></script>
<script src="/assets/jquery.flexslider-min.js"></script>
<script type="text/javascript">
		$(window).load(function() {
			$('.flexslider').flexslider();
		});
</script>
<link rel="stylesheet" href="/assets/pagination.css" type="text/css" media="screen" />

<!-- slider content end -->
		<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="/assets/style_ie.css" />
		<![endif]-->
		<!-- jQuery -->

<!--[if lt IE 9]>
	<script type="text/javascript" src="/assets/html5.js"></script>
	<style type="text/css">
		.box1 figure {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->

<!-- Contact Form CSS files -->
<link type='text/css' href='/assets/basic.css' rel='stylesheet' media='screen' />

<!-- IE6 "fix" for the close png image -->
<!--[if lt IE 7]>
<link type='text/css' href='/assets/basic_ie.css' rel='stylesheet' media='screen' />
<![endif]-->
</head>
<body>
<!-- top -->
	<div class="top-sub-wrap">
    	<div class="top-main">Covering the people, Campuses & Companies making Business news in Higher Education</div>
    </div>
<!-- top end-->
<div class="clear"></div>
<div class="main-wrap">
	<div class="main">
<!-- header -->
		<header>
			<div class="wrapper">
				<div class="logo"><h1><a href="index.html" id="logo" title="Today's Campus">Today's Campus</a></h1></div>
                <div class="social">
                <div class="subscribe-top">
                <a href="#" title="Subscribe Today">Subscribe Today</a>
                <a href="#" title="Advertise">Advertise</a>
                <a href="#" title="Contact TC">Contact TC</a>
                </div>
                     <div class="clear"></div>
                    <div class="right-top">
                    <div class="right-top-sub">
                        <img src="/assets/top-right-img.jpg" alt="right-top-image">
                        <span class="large-font">Digital <br> Magazine</span>
                        <span class="small-font">Get Yours Today</span>
                    </div>
                    <div class="social-wrap">
                        <ul id="icons">
                        <li><a href="#" title="Facebook"><img src="/assets/facebook.png" alt="facebook"></a></li>
                        <li><a href="#" title="Twitter"><img src="/assets/twitter.png" alt="twitter"></a></li>
                        <li><a href="#" title="Linkedin"><img src="/assets/linkedin.png" alt="linkedin"></a></li>
                        <li><a href="#" title="V icon"><img src="/assets/v-icon.png" alt="v-icon"></a></li>
                        <li><a href="#" title="RSS"><img src="/assets/rss.png" alt="rss"></a></li>
                    </ul>
                    </div>
                    </div>
                </div>
             <div class="clear"></div>
				<!-- Navigation -->
                <nav>
					<ul id="nav" class="drop">
						<li><a href="#" class="active" title="Departments">Departments</a>
                          <ul class="drop-down">
                              <li><a href="#" title="Sub Navigation">Sub Navigation 1</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 2</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 3</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 4</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 5</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 6</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 7</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 8</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 9</a></li>
                          </ul>
                       </li>
     					<li><a href="#" title="Videos">Videos</a></li>
						<li><a href="#" title="Webinars">Webinars</a></li>
                        <li><a href="#" title="Events">Events</a></li>
                        <li class="search"><input type="text"><a href="#"></a></li>
					</ul>
				</nav>
                <!-- Navigation -->
			</div>
		</header>
<!-- / header -->
<!-- content -->
		<article id="content">
        <div class="ad-wrap">
        	<img src="/assets/top_banner.jpg" alt="banner">
        </div>
             
             <div class="content-wrapper">
            	<div class="center-left">
                <h2 class="register-emp-cart">Resume for Andrew Grayson</h2>
                <div class="search-txt3">Candidate Details</div>
                <div class="search-box1 backgroundred">
                	<div><b>Name : </b><span>Andrew Grayson</span></div>
                    <div><b>E-mail : </b><span><a href="mailto:Andrew.C.Grayson@gmail.com">Andrew.C.Grayson@gmail.com</a></div>
                    <div><b>Cell Phone No : </b><span>(616) 283-9476</span></div>
                    <div><b><a  class="pdf-img" href="#">Andrew Grayson Resume for Idealist.pdf</a></b></div>
   		        </div>
                
                 <div class="search-txt3" style="width:215px;">Current Residential Address</div>
                <div class="search-box1 backgroundred">
                	<div>2910 Woodcliff Circle </div>
                    <div> East Grand Rapids MI 49506 </div>
                    <div>United States</div>
   		        </div>
                
                <div class="search-txt3" style="width:175px;">Education & Experience</div>
                <div class="search-box1 backgroundred">
                	<div><b>Highest Education : </b><span>BA</span></div>
                    <div><b>Short Bio : </b><span>Hard working and adaptable professional who thrives in the higher education environment, seeking an opportunity to join an organization in a position which will continue to grow professional experience and make positive changes in our world. </span></div>
                    <div><b>Work Experience:</b><span>I have worked for the past year in fundraising and development, raising over $550,000 as the prospect research manager and finance associate on two political campaigns. Prior to that I held a temporary position as a College Admission Counselor at my alma mater, Kalamazoo College, a position that I loved. I have also worked in business and organizational development, volunteer recruiting and management, event planning and management, and marketing.</span></div>
                    <div><b>Teaching Experience : </b><span>None</span></div>
                    <div><b>Work Authorization : </b><span>U.S. Citizen</span></div>
                    <div><b>Visa? : </b><span>None</span></div>
                    <div><b>Veteran? : </b><span>No</span></div>
   		        </div>
                
                
                <div class="search-txt3" style="width:200px">Availability & Preferences</div>
                <div class="search-box1 backgroundred">
                	<div><b>Available to Start : </b><span>Thursday, March 7, 2013</span></div>
   		        </div>
                
    <!--<div id="demo2"></div> -->
               </div>
               <div class="center-right">
                    <div class="search-txt">Your Cart</div>
                    <div class="box-info">
                     <table width="275" border="1" class="cart-table">
  <tr class="add">
    <td>developer(American Anthropological Association (AAA))</td>
    <td align="right">$250.00</td>
  </tr>
  <tr class="even">
    <td>developer(American Anthropological Association (AAA))</td>
    <td align="right">$250.00</td>
  </tr>
  <tr class="add">
    <td>developer(American Anthropological Association (AAA))</td>
    <td align="right">$250.00</td>
  </tr>
  <tr class="even">
    <td>developer(American Anthropological Association (AAA))</td>
    <td align="right">$250.00</td>
  </tr>
</table>
<div class="cart-total">Total $1000.00</div>
<div class="cart-wrap-bottom">
<a href="after-login-shopping-cart.html" class="btn2" title="View Cart">View Cart</a>
<a href="checkout.html" class="btn2" title="Checkout">Checkout</a>
</div>
                    </div>
<div class="clear"></div>
     <div class="search-txt1">Employer Tools</div>
                    <div class="box-info">
                    	<ul class="emp-tools">
                        <li><a href="post-job.html">Post a new job</a></li>
                        <li><a href="my-account.html">Manage your job posts</a></li>
                        <li><a href="resume-search.html">Search résumés</a></li>
                        </ul>
                    </div>
                    
                    <div class="ad">
                    	<img src="/assets/ad_right.jpg">
                    </div>
                    <div class="box-content1">
                        	<h2>Financial Aid & Bursar</h2>
                            <ul>
                            <li>
                            <h6>Awards Recognize Student Loan Default | Prevention And Financial Literacy Programs</h6>
                            <p>INDIANAPOLIS - USA Funds® has announced the recipients of its 2012 Excellence in Debt Management Awards. <a href="#"> More</a></p>
                           </li>
                            <li>
                            <h6>Tuition paid in ones</h6>
                            <p>In a YouTube video Nicolaus Ramos, a U of Colorado student from Sacramento, explains why he paid his $14,309 tuition bill with 30 pounds of one-dollar bills. <a href="#"> More</a></p>
                            </li>
                            <li class="last">
                            <h6>Heading off the college tab</h6>
                            <p>Ken Clark, author of “The Complete Idiot’s Guide to Paying for College”, reduces how to pay for college to one simple rule: “Plan on putting away $75 per kid per month from the day they’re born, and that will get you four years at a state school.”<a href="#"> More</a></p>
                           </li>
                            </ul>
                            </div>
                            
                            <div class="ad">
                                <img src="/assets/ad_right1.jpg">
                            </div>
                            <div class="box-content1">
                        	<h2>Student Loan Intelligence</h2>
                          <ul>
                            <li class="last">
                            <h6>One common peculiarity among U.S. student loans</h6>
                            <p>For all U.S. student loans - government and private - a borrower has no bankruptcy protection.<a href="#"> More</a></p>
                            </li>
                           </ul> 
                        </div>
               </div>
               
             </div>
		</article>
<!-- / content -->
<div class="clear"></div>
	</div>
</div>
    <!-- footer -->
		<%= render "layouts/footer"%>
<!-- / footer -->
<script type='text/javascript' src='/assets/jquery.js'></script>
<script type='text/javascript' src='/assets/jquery.simplemodal.js'></script>
<script type='text/javascript' src='/assets/basic.js'></script>

<script src="/assets/jquery-1.3.2.js" type="text/javascript"></script>
<script src="/assets/jquery.paginate.js" type="text/javascript"></script>
<script type="text/javascript">
		$(function() {
			$("#demo1").paginate({
				count 		: 100,
				start 		: 1,
				display     : 8,
				border					: true,
				border_color			: '#fff',
				text_color  			: '#fff',
				background_color    	: 'black',	
				border_hover_color		: '#ccc',
				text_hover_color  		: '#000',
				background_hover_color	: '#fff', 
				images					: false,
				mouse					: 'press'
			});
			
			$("#demo2").paginate({
				count 		: 100,
				start 		: 1,
				display     : 8,
				border					: true,
				border_color			: '#fff',
				text_color  			: '#fff',
				background_color    	: 'black',	
				border_hover_color		: '#ccc',
				text_hover_color  		: '#000',
				background_hover_color	: '#fff', 
				images					: false,
				mouse					: 'press'
			});
		});
		</script>
</body>
</html>