<!DOCTYPE html>
<html lang="en">
<head>
<title>Today's Campus - Shopping Cart</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/assets/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/style.css" type="text/css" media="all">
<!-- slider content start -->
<link rel="stylesheet" href="/assets/flexslider.css" type="text/css" media="screen" />
<script src="/assets/jquery.min.js"></script>
<script src="/assets/jquery.flexslider-min.js"></script>
<script type="text/javascript">
		$(window).load(function() {
			$('.flexslider').flexslider();
		});
</script>
<!-- slider content end -->
		<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="/assets/style_ie.css" />
		<![endif]-->
		<!-- jQuery -->

<!--[if lt IE 9]>
	<script type="text/javascript" src="/assets/html5.js"></script>
	<style type="text/css">
		.box1 figure {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->
</head>
<body>
<!-- top -->
	<div class="top-sub-wrap">
    	<div class="top-main">Covering the people, Campuses & Companies making Business news in Higher Education</div>
    </div>
<!-- top end-->
<div class="clear"></div>
<div class="main-wrap">
	<div class="main">
<!-- header -->
		<header>
			<div class="wrapper">
				<div class="logo"><h1><a href="index.html" id="logo" title="Today's Campus">Today's Campus</a></h1></div>
                <div class="social">
                <div class="subscribe-top">
                <a href="#" title="Subscribe Today">Subscribe Today</a>
                <a href="#" title="Advertise">Advertise</a>
                <a href="#" title="Contact TC">Contact TC</a>
                </div>
                     <div class="clear"></div>
                    <div class="right-top">
                    <div class="right-top-sub">
                        <img src="/assets/top-right-img.jpg" alt="right-top-image">
                        <span class="large-font">Digital <br> Magazine</span>
                        <span class="small-font">Get Yours Today</span>
                    </div>
                    <div class="social-wrap">
                        <ul id="icons">
                        <li><a href="#" title="Facebook"><img src="/assets/facebook.png" alt="facebook"></a></li>
                        <li><a href="#" title="Twitter"><img src="/assets/twitter.png" alt="twitter"></a></li>
                        <li><a href="#" title="Linkedin"><img src="/assets/linkedin.png" alt="linkedin"></a></li>
                        <li><a href="#" title="V icon"><img src="/assets/v-icon.png" alt="v-icon"></a></li>
                        <li><a href="#" title="RSS"><img src="/assets/rss.png" alt="rss"></a></li>
                    </ul>
                    </div>
                    </div>
                </div>
             <div class="clear"></div>
				<!-- Navigation -->
                <nav>
					<ul id="nav" class="drop">
						<li><a href="#" class="active" title="Departments">Departments</a>
                          <ul class="drop-down">
                              <li><a href="#" title="Sub Navigation">Sub Navigation 1</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 2</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 3</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 4</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 5</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 6</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 7</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 8</a></li>
                              <li><a href="#" title="Sub Navigation">Sub Navigation 9</a></li>
                          </ul>
                       </li>
     					<li><a href="#" title="Videos">Videos</a></li>
						<li><a href="#" title="Webinars">Webinars</a></li>
                        <li><a href="#" title="Events">Events</a></li>
                        <li class="search"><input type="text"><a href="#"></a></li>
					</ul>
				</nav>
                <!-- Navigation -->
			</div>
		</header>
<!-- / header -->
<!-- content -->
		<article id="content">
        <div class="ad-wrap">
        	<img src="/assets/top_banner.jpg" alt="banner">
        </div>
             
             <div class="content-wrapper">
            	<div class="center-left">
                <h2 class="register-emp">Shopping Cart</h2>
         			<div class="shopping-cart">
                   <table width="635" border="0" class="shopping-cart-table" cellspacing="0" cellpadding="0">
  <tr class="border-tab">
    <td width="150">Product</td>
    <td width="300">Title</td>
    <td width="75">Price</td>
    <td width="50">Total</td>
    <td width="50" class="last-td">Remove</td>
  </tr>
  <tr class="add">
    <td>30 Days standard</td>
    <td><a href="#">developer</a>(Arizona State University)</td>
    <td>
        <table cellpadding="0" cellspacing="0" border="0" class="shopping-cart-table-inner">
            <tbody>
             <tr class="component-type-base-price odd"><td class="component-title">Price</td><td class="component-total">$225.00</td> </tr>
             <tr class="component-type-credits-price-1 even"><td class="component-title">1 Credit</td><td class="component-total">-$225.00</td> </tr>
             <tr class="component-type-commerce-price-formatted-amount odd"><td class="component-title">Subtotal</td><td class="component-total">$0.00</td> </tr>
            </tbody>
    	</table>
    </td>
    <td class="component-total">$0.00</td>
    <td><a href="#" class="remove"></a></td>
  </tr>
  <tr class="even">
    <td>30 Days standard</td>
    <td><a href="#">developer</a>(Arizona State University)</td>
    <td>
        <table cellpadding="0" cellspacing="0" border="0" class="shopping-cart-table-inner">
            <tbody>
             <tr class="component-type-base-price odd"><td class="component-title">Price</td><td class="component-total">$225.00</td> </tr>
             <tr class="component-type-credits-price-1 even"><td class="component-title">1 Credit</td><td class="component-total">-$225.00</td> </tr>
             <tr class="component-type-commerce-price-formatted-amount odd"><td class="component-title">Subtotal</td><td class="component-total">$0.00</td> </tr>
            </tbody>
    	</table>
    </td>
    <td class="component-total">$0.00</td>
    <td><a href="#" class="remove"></a></td>
  </tr>
  <tr class="add">
    <td>30 Days standard</td>
    <td><a href="#">developer</a>(Arizona State University)</td>
    <td>
        <table cellpadding="0" cellspacing="0" border="0" class="shopping-cart-table-inner">
            <tbody>
             <tr class="component-type-base-price odd"><td class="component-title">Price</td><td class="component-total">$225.00</td> </tr>
             <tr class="component-type-credits-price-1 even"><td class="component-title">1 Credit</td><td class="component-total">-$225.00</td> </tr>
             <tr class="component-type-commerce-price-formatted-amount odd"><td class="component-title">Subtotal</td><td class="component-total">$0.00</td> </tr>
            </tbody>
    	</table>
    </td>
    <td class="component-total">$0.00</td>
    <td><a href="#" class="remove"></a></td>
  </tr>
  <tr class="even">
    <td>30 Days standard</td>
    <td><a href="#">developer</a>(Arizona State University)</td>
    <td>
        <table cellpadding="0" cellspacing="0" border="0" class="shopping-cart-table-inner">
            <tbody>
             <tr class="component-type-base-price odd"><td class="component-title">Price</td><td class="component-total">$225.00</td> </tr>
             <tr class="component-type-credits-price-1 even"><td class="component-title">1 Credit</td><td class="component-total">-$225.00</td> </tr>
             <tr class="component-type-commerce-price-formatted-amount odd"><td class="component-title">Subtotal</td><td class="component-total">$0.00</td> </tr>
            </tbody>
    	</table>
    </td>
    <td class="component-total">$0.00</td>
    <td><a href="#" class="remove"></a></td>
  </tr>
  <tr>
    <td colspan="5" class="total">Total: $0.00</td>
  </tr>
  <tr>
	<td colspan="5" class="credit-txt-cart">
    	<input type="submit" value="Start Over" style="border:0; float:left;" class="btn2 right">
        <input type="submit" value="Checkout" style="border:0; float:left;" class="btn2 right">
        <input type="submit" value="Post Another Job" style="border:0; float:left;" class="btn2 right">
    </td>
  </tr>
</table>

                    </div>
               </div>
               <div class="center-right">
                    <div class="search-txt">Your Cart</div>
                    <div class="box-info">
                     <table width="275" border="1" class="cart-table">
  <tr class="add">
    <td>developer(Arizona State University)</td>
    <td align="right">$250.00</td>
  </tr>
  <tr class="even">
    <td>developer(Arizona State University)</td>
    <td align="right">$250.00</td>
  </tr>
  <tr class="add">
    <td>developer(Arizona State University)</td>
    <td align="right">$250.00</td>
  </tr>
  <tr class="even">
    <td>developer(Arizona State University)</td>
    <td align="right">$250.00</td>
  </tr>
</table>
<div class="cart-total">Total $1000.00</div>
<div class="cart-wrap-bottom">
<a href="checkout.html" class="btn2" title="Checkout">Checkout</a>
</div>
                    </div>
<div class="clear"></div>
     <div class="search-txt1">Employer Tools</div>
                    <div class="box-info">
                    	<ul class="emp-tools">
                        <li><a href="post-job.html">Post a new job</a></li>
                        <li><a href="my-account.html">Manage your job posts</a></li>
                        <li><a href="resume-search.html">Search résumés</a></li>
                        </ul>
                    </div>
                    
                    <div class="ad">
                    	<img src="/assets/ad_right.jpg">
                    </div>
                    <div class="box-content1">
                        	<h2>Financial Aid & Bursar</h2>
                            <ul>
                            <li>
                            <h6>Awards Recognize Student Loan Default | Prevention And Financial Literacy Programs</h6>
                            <p>INDIANAPOLIS - USA Funds® has announced the recipients of its 2012 Excellence in Debt Management Awards. <a href="#"> More</a></p>
                           </li>
                            <li>
                            <h6>Tuition paid in ones</h6>
                            <p>In a YouTube video Nicolaus Ramos, a U of Colorado student from Sacramento, explains why he paid his $14,309 tuition bill with 30 pounds of one-dollar bills. <a href="#"> More</a></p>
                            </li>
                            <li class="last">
                            <h6>Heading off the college tab</h6>
                            <p>Ken Clark, author of “The Complete Idiot’s Guide to Paying for College”, reduces how to pay for college to one simple rule: “Plan on putting away $75 per kid per month from the day they’re born, and that will get you four years at a state school.”<a href="#"> More</a></p>
                           </li>
                            </ul>
                            </div>
                            
                            <div class="ad">
                                <img src="/assets/ad_right1.jpg">
                            </div>
                            <div class="box-content1">
                        	<h2>Student Loan Intelligence</h2>
                          <ul>
                            <li class="last">
                            <h6>One common peculiarity among U.S. student loans</h6>
                            <p>For all U.S. student loans - government and private - a borrower has no bankruptcy protection.<a href="#"> More</a></p>
                            </li>
                           </ul> 
                        </div>
               </div>
               
             </div>
		</article>
<!-- / content -->
<div class="clear"></div>
	</div>
</div>
    <!-- footer -->
		<%= render "layouts/footer"%>
<!-- / footer -->

</body>
</html>